<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
	<title>{{ page.title }}</title>
</head>
<body>
	<h4><a href="x_inline_toc.html">ToC</a> | {% if page.previous %}<a href="{{ page.previous.getHtmlFilename() }}">Previous</a>{% endif %}{% if page.previous and page.next %}<span> | </span>{% endif %}{% if page.next %}<a href="{{ page.next.getHtmlFilename() }}">Next</a>{% endif %}</h4>
	<h1 class="title">{{ page.title }}</h1>
	<p>part of <a href="{{ page.section.getHtmlFilename() }}"><b>{{ page.section.title }}</b></a> ({{ page.section.length() }})</p>

	{{ page.get_content_html() }}

	<p>part of <a href="{{ page.section.getHtmlFilename() }}"><b>{{ page.section.title }}</b></a> ({{ page.section.length() }})</p>
	<h4><a href="{{ page.getHtmlFilename() }}">Back to start</a></h4>
	<h4><a href="x_inline_toc.html">Table of contents</a></h4>
</body>
</html>