<?xml version='1.0' encoding='utf-8'?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="en-gb">

<head>
<meta content="0123456789" name="dtb:uid"/>
<meta content="2" name="dtb:depth"/>
<meta content="mobiunpack.py" name="dtb:generator"/>
<meta content="0" name="dtb:totalPageCount"/>
<meta content="0" name="dtb:maxPageNumber"/>
</head>

<docTitle>
<text>{{ book.preferences["title"] }}</text>
</docTitle>

<navMap>

	<navPoint id="x_inline_toc" playOrder="{{ counter.count() }}">
		<navLabel><text>Table of contents</text></navLabel>
		<content src="text/x_inline_toc.html"/>
	</navPoint>

	{% for section in book.sections %}
	<navPoint id="{{ section.getIdref() }}" playOrder="{{ counter.count() }}">
		<navLabel><text>{{ section.title }}</text></navLabel>
		<content src="{{ section.getLocalHtmlFilepath() }}"/>
		{% for page in section.pages %}
		<navPoint id="{{ page.getIdref() }}" playOrder="{{ counter.count() }}">
			<navLabel><text>{{ page.getPaddedIndex() }}. {{ page.title }}</text></navLabel>
			<content src="{{ page.getLocalHtmlFilepath() }}"/>
		</navPoint>
		{% endfor %}
	</navPoint>
	{% endfor %}

</navMap>

</ncx>